/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    letter-spacing: 1px;
    font-size: 1em;
    line-height: 1.9em;
    color: #555;
}

ul {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}


/*-- header --*/
/*-- bootstrap-modal-pop-up --*/
.modal-header {
    font-size: 2em;
    color: #67be10;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #fff;
    font-weight: 600;
    letter-spacing: 4px;
}

.close {
    opacity: 1;
}

.modal-body p {
    color: #999;
    text-align: left;
    padding: 2em 2em 1em;
    margin: 0 !important;
    line-height: 2em;
    font-size: 14px;
}

.modal-body p i {
    display: block;
    margin: 1em 0;
    color: #212121;
}

.modal-body {
    padding: 0;
}

.modal-body img {
    padding: 0em 2em 0 2em;
}

.modal-content {
    border-radius: 0;
}

button.close {
    font-size: 1.5em;
    color: #000;
    outline: none;
}

/*-- //bootstrap-modal-pop-up --*/

/*--header--*/

.header_left {
    float: left;
    margin: .3em 0 0;
}

.header_left ul li {
    display: inline-block;
    margin-right: 2em;
    font-size: 15px;
    color: #fcfeff;
    letter-spacing: 1px;
}

.header_left ul li i {
    padding-right: 1em;
    color: #67be10;
}

.header_left ul li a {
    font-size: 15px;
    color: #fcfeff;
    text-decoration: none;
}

.header_left ul li a:hover {
    color: #67be10;
}

.header_right {
    float: right;
}

ul.forms_right {
    float: right;
    margin-top: 3px;
}

ul.forms_right {
    float: right;
}

ul.forms_right li a {
    background: #67be10;
    color: #fff;
    font-size: 0.9em;
    padding: 0.6em 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul.forms_right li a:hover {
    background: #fba82b;
}

ul.forms_right li a.active {
    background: #168eea;
}

ul.forms_right li {
    display: inline-block;
    list-style: none;
}

.top_menu_w3layouts {
    padding: 0.5em 0em;
    background: #033d76;
}

.content {
    margin: 0;
    padding: 0px;
}

.content p:last-child {
    margin: 0;
}

.content a.button {
    display: inline-block;
    padding: 10px 20px;
    background: #ff0;
    color: #000;
    text-decoration: none;
}

.content a.button:hover {
    background: #000;
    color: #ff0;
}

.content.title {
    position: relative;
    background: #333;
}

.navbar-nav {
    float: right;
    margin: 0;
    padding-top: 29px;
}

.content.title h1 span.demo {
    display: inline-block;
    font-size: .5em;
    padding: 10px;
    background: #fff;
    color: #333;
    vertical-align: top;
}

.content.title .back-to-article {
    position: absolute;
    bottom: -20px;
    left: 20px;
}

.content.title .back-to-article a {
    padding: 10px 20px;
    background: #168eea;
    color: #fff;
    text-decoration: none;
}

.content.title .back-to-article a:hover {
    background: #168eea;
}

.content.title .back-to-article a i {
    margin-left: 5px;
}

.content.white {
    background: #fff;
}

.content.black {
    background: #000;
}

.content.black p {
    color: #999;
}

.content.black p a {
    color: #08c;
}

.navbar {
    position: relative;
    min-height: 137px;
    margin-bottom: 0 !important;
    border: 1px solid transparent;
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
    padding: 10px 0;
}

.navbar-brand {
    float: left;
    padding: 0 !important;
    font-size: 18px;
    line-height: 0px !important;
    height: 0px !important;

}

.navbar-default a.navbar-brand h1 {
    color: #67be10;
    font-weight: 700;
    margin-top: 6px;
    letter-spacing: 2px;
}

.navbar-default .navbar-nav > li > a {
    color: #282828;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 17px;
}

.navbar-nav > li > a.active {
    color: #fff;
    background: #033d76;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #033d76;
    background: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background: #033d76;
}

.navbar-default .navbar-brand label {
    color: #36a1f3;
    display: block;
    font-size: 0.3em;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 0 1px 2px rgba(47, 47, 47, 0.2);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #111;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-nav > .active > a:before {
    background: #168eea;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 0;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #282828;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #033d76;
    background: none;
}

.navbar-nav > li {
    float: left;
    margin: 0 5px;
}

.navbar-default .navbar-toggle {
    border-color: #202020;
}

.dropdown-menu .divider {
    height: 0;
    margin: 0;
    overflow: none;
    background: none;
}

.dropdown-menu .divider {
    border-bottom: 1px solid #E8E7EC;
    padding: 0px 0;
}

.main-content {
    padding: 3em 0;
}

.dropdown-menu {
    min-width: 150px;
}

ul.dropdown-menu.sub-menu {
    min-width: 130px;
    top: 77px;
    left: 148px;
    -webkit-animation: fadeinleft 600ms ease-in-out;
    -moz-animation: fadeinleft 600ms ease-in-out;
    -o-animation: fadeinleft 600ms ease-in-out;
    -ms-animation: fadeinleft 600ms ease-in-out;
    animation: fadeinleft 600ms ease-in-out;
}

ul.dropdown-menu:hover a.s-menu {
    background: #373738;
    color: #fff;
}

.dropdown-menu.columns-2 {
    min-width: 400px;
}

.dropdown-menu.columns-3 {
    min-width: 600px;
}

.dropdown-menu li a {
    padding: 8px 15px;
    font-weight: 400;
    letter-spacing: 1px;
}

.dropdown-menu {
    border-radius: 0px;
}

.multi-column-dropdown {
    list-style: none;
}

.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #168eea;
    text-decoration: none;
    background-color: #f5f5f5;
}

.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #168eea;
    background: none;
}

b.fa.fa-caret-right {
    vertical-align: middle;
    margin-left: 2em;
}

@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }

    .navbar-nav {
        float: left;
        margin: 0;
        margin-left: 0em;
        width: 100%;
        background: #eee;
        margin-top: 1em;
    }
}


/*-- banner --*/

.carousel-caption h2,
.carousel-caption h3 {
    font-size: 3em;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.carousel-caption h2 span, .carousel-caption h3 span {
    font-weight: 700;
    color: #67be10;
}

.carousel-caption p {
    letter-spacing: 7px;
    font-size: 1.1em;
    font-weight: 300;
    color: #fff;
    margin: 1em 0 1em 0;
}

.carousel-caption h6 {
    font-size: 17px;
    line-height: 1.8em;
    margin: 0 auto;
    width: 76%;
    letter-spacing: 2px;
}

.carousel-caption a {
    color: #fff;
    letter-spacing: 1px;
    padding: 11px 20px;
    background: none;
    font-size: 0.9em;
    border-radius: 0;
    border: 1px solid #fff;
}

.carousel-caption a:hover {
    background: #67be10;
    border: 1px solid #67be10;
}

.codes {
    padding: 5em 0;
    background: #fff;
}

.codes.agileitsbg2 {
    background: #E74C3C;
    background-image: -webkit-linear-gradient(#ff9d2f, #ff6126);
    background-image: -moz-linear-gradient(#ff9d2f, #ff6126);
    background-image: -ms-linear-gradient(#ff9d2f, #ff6126);
    background-image: linear-gradient(#ff9d2f, #ff6126);
    padding-bottom: 10em;
}

.codes.agileitsbg3 {
    background: #3498DB;
    padding-bottom: 10em;
}

.codes.agileitsbg4 {
    background: #2ECC71;
    padding-bottom: 10em;
}

.carousel.slide.grid_3.grid_4 {
    border-top: 10px solid #3ACFD5;
    border-bottom: 10px solid #3a4ed5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    -webkit-background-size: 10px 100%;
    -moz-background-size: 10px 100%;
    background-size: 10px 100%;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dÃ¢â‚¬Â¦0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dÃ¢â‚¬Â¦0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    background-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    background-image: -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%), linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
}

.carousel-indicators {
    bottom: 5%;
    left: 50%;
}

.carousel-caption {
    position: inherit;
    min-height: 680px !important;
    padding-top: 15em;
    text-align: center;
}

.carousel-control {
    line-height: 32em;
}


/*-- //banner --*/
/* about */
.heading-agileinfo {
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 40px;
    margin-bottom: 1.9em;
    text-align: center;
    color: #67be10;
    text-transform: uppercase;
    position: relative;
    margin-top: 0;
}

.heading-agileinfo span {
    display: block;
    font-size: 17px !important;
    margin-top: 1em;
    letter-spacing: 4px;
    text-transform: capitalize;
    color: #b6b6b6;
    font-weight: 500;
}

.heading-agileinfo span:after {
    content: '';
    background: #212121;
    height: 2px;
    width: 70px;
    position: absolute;
    top: 132%;
    right: 47%;
}

a.wthree-.about-link {
    color: #fff;
    border: 1px solid #03afdd;
    background: #03afdd;
    border-radius: 0;
    padding: 0.5em 2.5em;
    outline: none;
    font-size: 1em;
    margin: 4% auto 0;
    font-weight: 600;
    letter-spacing: 4px;
    display: inline-block;
    text-transform: uppercase;
}

.agileits-about-grid p {
    width: 80%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.8em;
    color: #999;
}

.agileits-about-grid1 {
    /* border: 1px solid #000; */
    background: #3a4ed5;
}

.agileits-about-grid2 {
    /* border: 1px solid #000; */
    border-left: none;
    border-right: none;
    background: #007ce6;
}

.agileits-about-grid3 {
    /* border: 1px solid #000; */
    background: #168eea;
}

.agile-about {
    padding: 5em 0;
}

/* //about */


/* about-bottom */
.agileits-about-btm {
    padding: 0em 0;
}

.ab1 {
    padding: 2em;
    text-align: center;
}

.ab1 i {
    color: #fff;
    font-size: 40px;
}

.ab1 span {
    color: #000;
    font-size: 2em;
}

h4.agileinfo-head {
    color: #67be10;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0.7em 0;
    font-size: 1.8em;
}

.ab1 h5 {
    color: #000;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1em 0 0.2em;
}

.ab1 p {
    color: #fff;
    font-size: 15px;
    line-height: 1.8em;
    margin: 10px 0 0;
}


/* //about-bottom */
.emergency_cases_w3ls {
    text-align: center;
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
}

.emergency_cases_bt {
    background: rgba(0, 0, 0, 0.47);
    padding: 5em 0;
}

.emergency_cases_w3ls h4 {
    font-size: 30px;
    color: #67be10;
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px dotted #968e8e;
}

.emergency_cases_w3ls h6 {
    font-size: 20px;
    color: #fff;
    text-align: left;
    line-height: 36px;
}

.emergency_cases_w3ls_right i {
    padding-right: 0.5em;
    color: #67be10;
}

span.eme {
    float: right;
}

.emergency_cases_w3ls p {
    font-size: 15px;
    text-align: left;
    line-height: 1.8em;
    color: #fff;
    margin-top: 1em;
}

.emergency_cases_w3ls_right {
    padding-left: 4em;
    border-left: 1px solid #fff;
}

.emergency_cases_top {
    padding: 5em;
    background: rgba(0, 0, 0, 0.53);
}

.emergency_cases_w3ls_left {
    padding-right: 8em;
}

.emergency_cases_w3ls_right {
    padding-left: 4em;
}

.emergency_cases_w3ls h5 {
    font-size: 36px;
    text-align: left;
    color: #fff;
    letter-spacing: 4px;
}

/* services */
.heading h3 {
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

.heading p {
    text-align: center;
    color: #000;
    line-height: 26px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.grid2 {
    text-align: center;
    background: #e0e0e0;
    background: #ffc107;
    background: #fff;
    padding: 25px 40px;
    -webkit-box-shadow: 0 0 40px #aaa;
    -moz-box-shadow: 0 0 40px #aaa;
    box-shadow: 0 0 40px #aaa;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(158, 158, 158, 0.75);
    -moz-box-shadow: 0px 1px 8px 0px rgba(158, 158, 158, 0.75);
    box-shadow: 0px 1px 8px 0px rgba(158, 158, 158, 0.75);

}

.grid2 i {
    font-size: 39px;
    color: #67be10;
    padding-bottom: 15px;
}

.grid1 {
    text-align: center;
    background: #e0e0e0;
    background: #ffc107;
    background: #fff;
    padding: 25px 40px;
    -webkit-box-shadow: 0 0 40px #aaa;
    -moz-box-shadow: 0 0 40px #aaa;
    box-shadow: 0 0 40px #aaa;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(158, 158, 158, 0.75);
    -moz-box-shadow: 0px 1px 8px 0px rgba(158, 158, 158, 0.75);
    box-shadow: 0px 1px 8px 0px rgba(158, 158, 158, 0.75);
    height: 500px;
}

.grid1 img {
    height: 260px;
}

.grid1:hover {
    background: #e2e2e2;
}

.grid1 h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 25px 0 20px;
    color: #67be10;
    font-weight: 600;
}

.grid1 p {
    font-size: 14px;
    letter-spacing: .5px;
    color: #6b6b6b;
}

.services {
    padding: 5em 0;
}

.services .heading h3, .services .heading p {
    color: #fff;
}

.services-top-grids {
    margin-bottom: 30px;
}

.grid1 i.fa {
    font-size: 40px;
    color: #033d76;
}

/* //services */
/*-- /testimonials --*/

.carousel.slide.two .item {
    background: none !important;
}

.tesimonials {
    text-align: center;
    background: url(../images/3.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;

}

.tesimonials_tp {
    background: rgba(0, 0, 0, 0.47);
    padding: 5em 0;
}

#quote-carousel {
    margin-bottom: 0;
    padding: 40px 40px 30px 40px;
    background: rgba(41, 41, 41, 0.73);
}


/* Control buttons  */

#quote-carousel .carousel-control {
    background: none;
    color: #fff;
    font-size: 2em;
    text-shadow: none;
    margin-top: 0px;
    line-height: 280px;
}


/* Previous button  */

#quote-carousel .carousel-control.left {
    left: -116px;
}


/* Next button  */

#quote-carousel .carousel-control.right {
    right: -116px !important;
}


/* Changes the position of the indicators */

#quote-carousel .carousel-indicators {
    left: 34%;
    top: auto;
    bottom: -26px;
    margin-right: -19px;
}


/* Changes the color of the indicators */

#quote-carousel .carousel-indicators li {
    background: #67be10;
    width: 12px;
    height: 12px;
    margin: 0 2px;
}

#quote-carousel .carousel-indicators .active {
    background: #fff;
    width: 12px;
    height: 12px;
}

#quote-carousel img {
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
}


/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
    color: #67be10;
    font-size: 2em;
}

h3.heading-agileinfo.te {
    color: #fff;
}

.test_img_info p {
    color: #fff;
    margin-bottom: 1em;
}

.test_img_info h6 {
    color: #67be10;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 2em;
}


/**
  MEDIA QUERIES
*/


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #quote-carousel {
        margin-bottom: 0;
        padding: 40 40px 30px 40px;
    }
}


/* Small devices (tablets, up to 768px) */

@media (max-width: 768px) {
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }

    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }

    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}


/*-- //testimonials --*/
/*-- /grid_info --*/

.grid_info {
    text-align: center;
    padding: 2em 1em;
    background: #fff;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    width: 32%;
}

.grid_info:nth-child(2) {
    margin: 0 2%;
}

.icon_info span {
    height: 90px;
    width: 90px;
    background: #fff;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 5px solid #fafafa;
    line-height: 85px;
    font-size: 2em;
    color: #67be10;
}

.icon_info h5 {
    font-size: 1.4em;
    color: #67be10;
    margin: 1em 0;
    letter-spacing: 2px;
    font-weight: 600;
}

a.read-agileits {
    display: inline-block;
    text-decoration: none;
    margin-top: 1em;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 18px;
    color: #033d76;
}

a.read-agileits:hover {
    color: #67be10;
}

.icon_info p {
    color: #666;
}

.banner-bottom {
    padding: 5em 0;
}

/*-- //grid_info --*/
/*-- /inner_page --*/

.banner_inner_content_agile_w3l {
    background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/2.jpg) no-repeat;
    background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/2.jpg) no-repeat;
    background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/2.jpg) no-repeat;
    background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/2.jpg) no-repeat;
    background-size: cover;
    min-height: 250px;
}

/*-- contact-page --*/

.product-top h3 {
    font-size: 2em;
}

/*-- team --*/
.team-social {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    margin-bottom: 1em;
}

.team-social a i {
    color: #000;
    font-size: 16px;
    padding: 10px;
    width: 35px;
    height: 35px;
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}

.team i.fa.fa-facebook {
    color: #3b5998;
    border: 1px solid #3b5998;
}

.team i.fa.fa-facebook:hover {
    color: #fff;
    background: #3b5998;
    border: 1px solid #3b5998;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: 1s all;
    -o-transition: all 1s;
    -ms-transition: all 1s;
}

.team i.fa.fa-twitter {
    color: #1da1f2;
    border: 1px solid #1da1f2;
}

.team i.fa.fa-twitter:hover {
    color: #fff;
    background: #1da1f2;
    border: 1px solid #1da1f2;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: 1s all;
    -o-transition: all 1s;
    -ms-transition: all 1s;
}

.team i.fa.fa-linkedin {
    color: #e68523;
    border: 1px solid #e68523;
}

.team i.fa.fa-linkedin:hover {
    color: #fff;
    background: #e68523;
    border: 1px solid #e68523;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: 1s all;
    -o-transition: all 1s;
    -ms-transition: all 1s;
}

.team i.fa.fa-pinterest-p {
    color: #bd081c;
    border: 1px solid #bd081c;
}

.team i.fa.fa-pinterest-p:hover {
    color: #fff;
    background: #bd081c;
    border: 1px solid #bd081c;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: 1s all;
    -o-transition: all 1s;
    -ms-transition: all 1s;
}

.teamgrids p {
    color: #4a4a4a;
    font-size: 15px;
    margin: .8em 0;
    letter-spacing: 1px;
}

.teamgrid1 i.fa {
    color: #ff4c4c;
    font-size: 1em;
    padding-right: .5em;
}

.teamgrid1 h3 {
    color: #000;
    text-transform: uppercase;
    margin: 1em 0;
    font-size: 21px;
}

.team {
    padding: 5em 0;
}

.teaminfo {
    border: 1px solid #e8e8e8;
    padding: 1em 2em;
    border-top: transparent;
    -webkit-box-shadow: 0px 2px 14px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 14px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 14px -5px rgba(0, 0, 0, 0.75);
}

/*-- //team --*/
.about {
    padding: 5em 0;
}

.about h3.w3l-titles:before {
    left: 33%;
}

.about h3.w3l-titles:after {
    right: 33%;
}

.about-w3right {
    padding: 0 2em;
}

.about-w3left img {
    width: 100%;
}

/*-- panel --*/
.pa_italic i {
    left: -1.5em;
    font-size: 11px;
}

.pa_italic span {
    display: none;
}

.collapsed span {
    display: inline-block;
    left: -1.5em;
    font-size: 11px;
}

.collapsed i {
    display: none;
}

.panel-heading {
    padding: 0;
}

.panel-title {
    font-size: 1.2em;
    color: #333;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
}

.panel-title a.pa_italic.collapsed {
    background: #fff;
    color: #333;
    -webkit-box-shadow: 0px 1px 1px 1px #ccc;
    -moz-box-shadow: 0px 1px 1px 1px #ccc;
    -o-box-shadow: 0px 1px 1px 1px #ccc;
    -ms-box-shadow: 0px 1px 1px 1px #ccc;
    box-shadow: 0px 1px 1px 1px #ccc;
}

.panel-title a {
    background: #033d76;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 12px 35px;
}

.panel-default {
    border-color: #FFF;
    background: #f5f5f5;
}

.panel-default > .panel-heading {
    color: #212121;
    background-color: #fff;
}

.panel-body {
    padding: 1.5em 2em;
    font-size: 1em;
    line-height: 2em;
    color: #999;
    border-top-color: transparent;
    -webkit-box-shadow: 0px 0px 1px #aaa;
    -moz-box-shadow: 0px 0px 1px #aaa;
    box-shadow: 0px 0px 1px #aaa;
    background: #fff;
}

a.pa_italic label {
    cursor: pointer;
    font-weight: 500;
}

a.pa_italic:focus {
    outline: none;
    text-decoration: none;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #fff;
}

/*-- //panel --*/
/*-- icons --*/
.codes a {
    color: #999;
}

.icon-box {
    padding: 8px 15px;
    background: rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
}

.icon-box:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}

.icon-box:hover i.fa {
    color: #fff !important;
}

.icon-box:hover a.agile-icon {
    color: #fff !important;
}

.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
}

.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #777;
}

.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}

h3.icon-subheading {
    font-size: 28px;
    color: #67be10 !important;
    margin: 30px 0 15px;
    font-weight: 700;
    letter-spacing: 2px;
}

h3.agileits-icons-title {
    text-align: center;
    font-size: 33px;
    color: #222222;
    font-weight: 700;
    letter-spacing: 2px;
}

.icons a {
    color: #999;
}

.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}

.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background: rgba(149, 149, 149, 0.18);
    margin: 1%;
}

.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #282a2b;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #777;
}

.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
    color: #777;
}

@media (max-width: 991px) {
    h3.agileits-icons-title {
        font-size: 28px;
    }

    h3.icon-subheading {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    h3.agileits-icons-title {
        font-size: 28px;
    }

    h3.icon-subheading {
        font-size: 25px;
    }

    .row {
        margin-right: 0;
        margin-left: 0;
    }

    .icon-box {
        margin: 0;
    }
}

@media (max-width: 640px) {
    .icon-box {
        float: left;
        width: 50%;
    }
}

@media (max-width: 480px) {
    .bs-glyphicons li {
        width: 31%;
    }
}

@media (max-width: 414px) {
    h3.agileits-icons-title {
        font-size: 23px;
    }

    h3.icon-subheading {
        font-size: 22px;
    }

    .bs-glyphicons li {
        width: 31.33%;
    }
}

@media (max-width: 384px) {
    .icon-box {
        float: none;
        width: 100%;
    }
}

/*-- //icons --*/
.w3_wthree_agileits_icons.main-grid-border {
    padding: 5em 0;
}

/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}

.list-group-item {
    font-weight: 300;
    font-size: 14px;
}

li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}

.typo p {
    font-size: 14px;
    font-weight: 300;
}

.show-grid [class^=col-] {
    background: #fff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 2em;
    border: 10px solid #f0f0f0;
}

.show-grid [class*="col-"]:hover {
    background: #e0e0e0;
}

.grid_3 {
    margin-bottom: 2em;
}

.xs h3, h3.m_1 {
    color: #000;
    font-size: 1.7em;
    font-weight: 300;
    margin-bottom: 1em;
}

.grid_3 p {
    color: #999;
    font-size: 0.85em;
    margin-bottom: 1em;
    font-weight: 300;
}

.grid_4 {
    background: none;
    margin-top: 50px;
}

.label {
    font-weight: 300 !important;
    border-radius: 4px;
}

.grid_5 {
    background: none;
    padding: 2em 0;
}

.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    margin-bottom: 1em;
    color: #67be10;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none !important;
}

.tab-content > .active {
    display: block;
    visibility: visible;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 0;
}

.badge-primary {
    background-color: #03a9f4;
}

.badge-success {
    background-color: #fb5710;
}

.badge-warning {
    background-color: #ffc107;
}

.badge-danger {
    background-color: #e51c23;
}

.grid_3 p {
    line-height: 2em;
    color: #888;
    font-size: 0.9em;
    margin-bottom: 1em;
    font-weight: 300;
}

.bs-docs-example {
    margin: 1em 0;
}

section#tables p {
    margin-top: 1em;
}

.tab-container .tab-content {
    border-radius: 0 2px 2px 2px;
    border: 1px solid #e0e0e0;
    padding: 16px;
    background-color: #ffffff;
}

.table td, .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 15px !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    font-size: 0.9em;
    color: #999;
    border-top: none !important;
}

.tab-content > .active {
    display: block;
    visibility: visible;
}

.label {
    font-weight: 300 !important;
}

.label {
    padding: 4px 6px;
    border: none;
    text-shadow: none;
}

.alert {
    font-size: 0.85em;
}

h1.t-button, h2.t-button, h3.t-button, h4.t-button, h5.t-button {
    line-height: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

li.list-group-item1 {
    line-height: 2.5em;
}

.input-group {
    margin-bottom: 20px;
}

.in-gp-tl {
    padding: 0;
}

.in-gp-tb {
    padding-right: 0;
}

.list-group {
    margin-bottom: 48px;
}

ol {
    margin-bottom: 44px;
}

h2.typoh2 {
    margin: 0 0 10px;
}

@media (max-width: 768px) {
    .grid_5 {
        padding: 0 0 1em;
    }

    .grid_3 {
        margin-bottom: 0em;
    }
}

@media (max-width: 640px) {
    h1, .h1, h2, .h2, h3, .h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
        margin-bottom: .5em;
    }

    .progress {
        height: 10px;
        margin-bottom: 10px;
    }

    ol.breadcrumb li, .grid_3 p, ul.list-group li, li.list-group-item1 {
        font-size: 14px;
    }

    .breadcrumb {
        margin-bottom: 25px;
    }

    .well {
        font-size: 14px;
        margin-bottom: 10px;
    }

    h2.typoh2 {
        font-size: 1.5em;
    }

    .label {
        font-size: 60%;
    }

    .in-gp-tl {
        padding: 0 1em;
    }

    .in-gp-tb {
        padding-right: 1em;
    }
}

@media (max-width: 480px) {
    .grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
        font-size: 1.2em;
    }

    .table h1 {
        font-size: 26px;
    }

    .table h2 {
        font-size: 23px;
    }

    .table h3 {
        font-size: 20px;
    }

    .label {
        font-size: 53%;
    }

    .alert, p {
        font-size: 14px;
    }

    .pagination {
        margin: 20px 0 0px;
    }

    .grid_3.grid_4.w3layouts {
        margin-top: 25px;
    }
}

@media (max-width: 320px) {
    .grid_4 {
        margin-top: 18px;
    }

    h3.title {
        font-size: 1.6em;
    }

    .alert {
        padding: 10px;
        margin-bottom: 10px;
    }

    ul.pagination li a {
        font-size: 14px;
        padding: 5px 11px;
    }

    .list-group {
        margin-bottom: 10px;
    }

    .well {
        padding: 10px;
    }

    .nav > li > a {
        font-size: 14px;
    }

    table.table.table-striped, .table-bordered, .bs-docs-example {
        display: none;
    }
}

/*-- //typography --*/
.typo {
    padding: 5em 0;
}

/*--contact--*/

.contact-text {
    background: url(../images/banner5.jpg) no-repeat 0px 0px;
    min-height: 450px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    text-align: center;
}

.contact-top {
    padding: 6em 0;
}

.con-text {
    padding-top: 8em;
}

.con-text p,
.con-text p a {
    color: #fff;
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 0.5em;
}

.con-text p a {
    color: #f5f9fb;
    font-size: 0.4em;
    letter-spacing: 2px;
}

.con-text p {
    line-height: 0.9em;
}

.con-text i {
    font-size: 0.9em;
}

.con-text h6 {
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1em;
    letter-spacing: 3px;
    margin-top: 1.5em;
}

.contact-form {
    position: relative;
    margin-top: 3em;
}

.left_form {
    float: left;
    width: 48%;
}

.right_form {
    float: left;
    width: 48%;
    margin-left: 3.8%;
}

.contact-form div {
    padding: 5px 0;
}

.contact-form span label {
    display: block;
    font-size: 0.9em;
    color: #555;
    padding-bottom: 5px;
    font-weight: 600;
    margin: 0.5em 0;
    letter-spacing: 1px;
}

.contact-form input[type="text"],
.contact-form textarea {
    padding: 16px 15px;
    display: block;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: #464646;
    font-size: 1em;
    box-shadow: inset 0px 0px 3px #999;
    -webkit-box-shadow: inset 0px 0px 3px #999;
    -moz-box-shadow: inset 0px 0px 3px #999;
    -o-box-shadow: inset 0px 0px 3px #999;
    -webkit-appearance: none;
    font-family: 'Source Sans Pro', sans-serif;
}

.contact-form textarea {
    resize: none;
    height: 197px;
}

.myButton {
    background: #67be10;
    color: #fff;
    font-size: 1em;
    padding: 17px 0;
    border: none;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-appearance: none;
    float: right;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
}

.myButton:hover {
    background: #168eea;
}

.company_address {
    float: left;
    width: 25%;
}

.company_address p {
    display: block;
    font-size: 1em;
    color: #686868;
    padding-bottom: 5px;
    font-weight: 400;
    padding: 5px 0;
}

.company_address p span a {
    text-decoration: underline;
    color: #555;
}

.company_address p span a:hover {
    text-decoration: none;
    color: #ff0000;
}

.contact_info {
    float: right;
    width: 70%;
    margin-left: 5%;
}

.map_w3layouts_agile iframe {
    width: 100%;
    min-height: 400px;
    border: none;
    padding: 2em;
    background: #ececee;
}

/*-- Contact-ends-here --*/
/*-- gallery --*/
.gallery {
    padding: 5em 0;
}

.grid {
    position: relative;
    clear: both;
    margin: 0 auto;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    height: auto;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h3 {
    word-spacing: -0.15em;
    font-size: 1.5em;
    margin-top: 18%;
    color: #FFF;
    font-weight: 600;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

/*-----------------*/
/***** Apollo *****/
/*-----------------*/


figure.effect-apollo img {
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
}

/*figure.effect-apollo figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}*/

figure.effect-apollo p {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    margin: 3em;
    padding: 0 1em;
    max-width: 150px;
    border-right: 4px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

.grid figure figcaption:hover {
    background-color: rgba(14, 12, 12, 0.42);
}

figure.effect-apollo h2 {
    text-align: left;
}

figure.effect-apollo:hover img {
    /*opacity: .2;*/
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

figure.effect-apollo:hover figcaption::before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}

figure.effect-apollo:hover p {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

/*-- //gallery --*/
/*-- footer --*/

.footer_top_agile_w3ls {
    background: #141415;
    padding: 4em 0;
}

.footer_bottom1 a {
    display: inline-block;
}

.footer_wthree_agile {
    background: #0f0f10;
    padding: 1em 0;
}

ul.tag2:last-child {
    margin: 0;
}

.footer_bottom_grid:nth-child(2) {
    float: right;
    text-align: right;
}

.footer_bottom {
    padding: 2em 0;
}

.index-copy-right {
    background: transparent;
}

.footer_bottom h6 {
    color: #ffffff;
    font-size: 1.4em;
    letter-spacing: 1px;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: 700;
}

.footer_bottom1 p {
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 1em;
}

.footer_bottom1 p a {
    color: #67be10;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}

.footer_bottom1 p a:hover {
    color: #fff;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}

.social ul {
    padding: 0;
    margin: 0;
}

.social ul li {
    display: inline-block;
}

.social ul li a {
    color: #333;
    text-align: center;
}

.social ul li a i.fa.fa-facebook {
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: #FFFFFF;
    color: #3b5998;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.social ul li a i.fa.fa-facebook:hover {
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: #3b5998;
    color: #FFFFFF;
}

.social ul li a i.fa.fa-twitter {
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: #FFFFFF;
    color: #1da1f2;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.social ul li a i.fa.fa-twitter:hover {
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: #1da1f2;
    color: #FFFFFF;
}

.social ul li a i.fa.fa-rss {
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: #FFFFFF;
    color: #f26522;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.social ul li a i.fa.fa-rss:hover {
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: #f26522;
    color: #FFFFFF;
}

.footer_bottom1 label {
    color: #168eea;
    display: block;
    font-size: 0.3em;
    letter-spacing: 3px;
}

.footer_bottom1 h2 {
    font-size: 2.2em;
    text-transform: uppercase;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
    color: #fff;
    font-weight: 700;
}

.footer_grid h3,
.footer_grid_left h3 {
    font-size: 1.4em;
    color: #67be10;
    position: relative;
    margin-bottom: 1.5em;
    font-weight: 600;
    letter-spacing: 1px;
}

.footer_grid_left h3 {
    margin: 0;
}

.footer_grid p {
    color: #5f5f63;
    line-height: 2em;
    margin-bottom: 2em;
}

.footer_grid_list li,
.address li {
    display: block;
    margin-bottom: 1em;
}

.footer_grid_list li i {
    color: #67be10;
    padding-right: 1em;
}

.footer_grid_list li a {
    color: #5f5f63;
    text-decoration: none;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.footer_grid_list li a:hover {
    color: #fff;
}

.footer_grid_list li:last-child,
.address li:last-child {
    margin-bottom: 0;
}

.address li {
    color: #5f5f63;
}

.address li i {
    margin-right: 1.5em;
    color: #fff;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #4b4b50;
}

.address li span {
    display: block;
    margin-left: 4em;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.address li a {
    color: #5f5f63;
    text-decoration: none;
}

.address li a:hover {
    color: #fff;
    text-decoration: none;
}

.footer_grid_right input[type="email"] {
    outline: none;
    padding: 13px;
    background: #fff;
    font-size: 0.9em;
    color: #888;
    width: 65%;
    border: none;
    letter-spacing: 1px;
    float: left;
}

.footer_grid_right input[type="email"]::-webkit-input-placeholder {
    color: #999 !important;
}

.footer_grid_right input[type="submit"] {
    outline: none;
    padding: 12px 0;
    background: #168eea;
    font-size: 1em;
    color: #fff;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 35%;
    float: left;
    margin-top: 0;
}

.footer_grid_right input[type="submit"]:hover {
    background: #67be10;
}

ul.social-icons3.two li a {
    text-align: center;
}

.footer_wthree_agile p {
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 16px;
}

.footer_wthree_agile p a {
    color: #67be10;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}

.footer_wthree_agile p a:hover {
    color: #fff;
}


/*-- //footer --*/


/*--responsive--*/

@media (max-width: 1440px) {
    .features {
        padding: 5em 0 16em 0;
    }
}

@media (max-width: 1366px) {
    .carousel-caption {
        min-height: 576px !important;
        padding-top: 10em;
    }
}

@media (max-width: 1280px) {
    .carousel-caption h2,
    .carousel-caption h3 {
        font-size: 2.5em;
        font-weight: 100;
        letter-spacing: 2px;
    }

    .inner_sec_info_agileits_w3 {
        margin-top: 0em;
    }
}

@media (max-width: 1080px) {
    .contact-text {
        min-height: 350px;
    }

    .con-text p,
    .con-text p a {
        font-size: 2.5em;
    }

    .con-text p a {
        font-size: 0.5em;
    }

    .con-text {
        padding-top: 6em;
    }

    .team_work h4 {
        font-size: 3em;
        width: 62%;
        padding-top: 1.85em;
    }

    .border {
        width: 430px;
        height: 430px;
    }

    .bulb img {
        margin-top: 7.5em;
        width: 45%;
    }

    h3.tittle {
        font-size: 3em;
    }

    h3.tittle.main {
        margin: 0 auto;
        width: 80%;
    }

    .team_work {
        min-height: 330px;
    }

    .bordergrid4 {
        position: absolute;
        bottom: -41%;
        left: 0%;
        text-align: center;
        width: 100%;
    }

    .icon i.fa {
        font-size: 25px;
        width: 75px;
        height: 75px;
        line-height: 73px;
    }

    .text h4 {
        font-size: 1.4em;
    }

    .blog_section {
        width: 100%;
    }

    .blog_con img {
        width: 100%;
    }

    .blog_left {
        margin-top: 3em;
        width: 60%;
    }

    .author_grid_pos {
        position: absolute;
        top: -31%;
        left: 42%;
    }

    .footer_grid_list li i {
        padding-right: 0.3em;
    }

    .address li i {
        margin-right: 0.5em;
    }

    .banner_inner_content_agile_w3l {
        min-height: 170px;
    }

    .banner_inner_content_agile_w3l p {
        padding-top: 3.5em;
    }

    .carousel-caption {
        min-height: 512px !important;
        padding-top: 9em;
    }

    .stats_left i {
        font-size: 2em;
    }

    .stats_left p {
        font-size: 3em;
    }

    .stats_left h4 {
        font-size: 1.25em;
    }

    .stats {
        min-height: 415px;
        padding-top: 5em;
    }

    .team_work h4 {
        font-size: 2.7em;
        width: 85%;
        padding-top: 1.8em;
    }

    .team_work {
        min-height: 280px;
    }

    .map_w3layouts_agile iframe {
        min-height: 400px;
        padding: 1em;
    }

    .emergency_cases_w3ls_left {
        padding-right: 4em;
    }

    .teaminfo {
        padding: 1em 1em;
    }
}

@media (max-width: 1050px) {
    h3.tittle {
        font-size: 2.8em;
    }

    .border {
        width: 400px;
        height: 400px;
    }

    p, .services-section-grid p, .banner_bottom_left p {
        font-size: 0.9em;
    }

    .bordergrid1 {
        position: absolute;
        top: -40%;
        left: 0%;
        text-align: center;
        width: 100%;
    }

    .bulb img {
        margin-top: 7em;
        width: 45%;
    }

    .text h4 {
        font-size: 1.3em;
    }

    ul.some_agile_facts span.fa {
        width: 60px;
        height: 60px;
        line-height: 59px;
        margin-right: 20px;
        font-size: 1em;
    }

    ul.some_agile_facts li {
        list-style: none;
        margin: 21px 0;
        font-size: 1.3em;
    }

    .banner_bottom_left h4 {
        font-size: 1.7em;
    }

    ul.some_agile_facts {
        margin-top: 2em;
    }

    .price_tittle h3 {
        font-size: 1.2em;
    }

    .carousel-control {
        line-height: 27em;
    }

    .features {
        padding: 4em 0 15em 0;
    }

    .service-icon-heading h4 {
        font-size: 1.2em;
    }

    .service-icon span {
        width: 50px;
        height: 50px;
        font-size: 1.5em;
        line-height: 1.8em;
    }

    #quote-carousel .carousel-indicators {
        left: 37%;
        top: auto;
        bottom: -26px;
    }
}

@media (max-width: 1024px) {
    .map_w3layouts_agile iframe {
        min-height: 300px;
        padding: 1em;
    }

    .carousel-caption p {
        letter-spacing: 5px;
        font-size: 1em;
        margin: 1em 0 2em 0;
    }

    .icon_info h5 {
        font-size: 1.3em;
    }
}

@media (max-width: 991px) {
    .carousel-caption {
        min-height: 490px !important;
        padding-top: 9em;
    }

    .grid_info {
        width: 48%;
        float: left;
    }

    .banner_form_agileits form {
        margin: 1em auto 0;
        width: 86%;
        padding: 0.5em;
    }

    .carousel-caption {
        min-height: 490px !important;
        padding-top: 7em;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        padding: 10px 4px;
    }

    .navbar-nav > li {
        float: left;
        margin: 0 3px;
    }

    .footer_grid:nth-child(2) {
        margin: 2em 0;
    }

    .footer_grid:nth-child(3) {
        margin-bottom: 2em;
    }

    .stats_left {
        float: left;
        width: 25%;
    }

    .grid_info:nth-child(2) {
        margin: 0 2% 2% 2%;
    }

    .stats_left h4 {
        font-size: 1em;
    }

    .stats {
        min-height: 400px;
        padding-top: 5em;
    }

    .border {
        width: 300px;
        height: 300px;
    }

    .banner_bottom_grid img {
        width: 40%;
    }

    #quote-carousel .carousel-indicators {
        left: 35%;
        top: auto;
        bottom: -26px;
    }

    .bordergrid1, .bordergrid2, .bordergrid3, .bordergrid4, .bordergrid5, .bordergrid6, .bulb {
        position: static;
        width: 100%;
        margin: 20px 0px;
    }

    .icon {
        width: 20%;
        float: left;
        margin: 0 auto;
    }

    .icon i.fa {
        width: 70px;
        height: 70px;
        line-height: 66px;
        font-size: 25px;
    }

    .text {
        width: 78%;
        float: left;
    }

    .border {
        width: 100%;
        height: 100%;
        border: none;
        margin-top: 0;
    }

    .bordergrid1 {
        text-align: right;
    }

    .bordergrid4 {
        text-align: left;
    }

    .team_work h4 {
        font-size: 2.3em;
        width: 99%;
        padding-top: 1.8em;
    }

    .team_work {
        min-height: 252px;
    }

    .header_left ul li {
        margin-right: 1em;
        font-size: 15px;
    }

    .features {
        padding: 4em 0 4em 0;
    }

    .bulb img {
        margin-top: 1em;
        width: 45%;
    }

    .text.live {
        width: 75%;
    }

    .team_work h4 {
        font-size: 2.3em;
        width: 87%;
        padding-top: 1.8em;
    }

    .services-section-grid:nth-child(4), .services-section-grid:nth-child(5), .services-section-grid:nth-child(6) {
        margin-top: 0em;
    }

    .services-section-grid {
        float: left;
        width: 50%;
        margin-bottom: 1em;
    }

    .blog_img {
        padding-left: 0;
        float: left;
        width: 50%;
    }

    .review_infon, .know_grid {
        margin-bottom: 1em;
        width: 48%;
        margin: 0% 1% 2% 1%;
        float: left;
    }

    .blog_img.lost {
        width: 100%;
    }

    .blog_img.single {
        width: 100%;
        float: none;
    }

    .banner_bottom_grid.help {
        width: 100%;
    }

    .banner_bottom_grid.help img {
        width: 100%;
        margin-bottom: 1em;
    }

    .header_left ul li i {
        padding-right: 0.2em;
    }

    .navbar-default a.navbar-brand h1 {
        margin-top: 0px;
        padding-left: 18px;
    }

    .navbar-default {
        padding: 12px 0;
    }

    .heading-agileinfo span {
        font-size: 14px !important;
        letter-spacing: 2px;
    }

    .emergency_cases_w3ls_right {
        padding-left: 1em;
        border-left: none;
        margin-top: 2em;
    }

    .grid1 {
        margin-bottom: 1em;
    }

    .services-top-grids {
        margin-bottom: 0;
    }

    .about-w3right {
        padding: 0 1em;
        margin-bottom: 2em;
    }

    .teamgrid1 {
        float: left;
        width: 50%;
        margin-bottom: 2em;
    }

    .teamgrid1 img {
        width: 100%;
    }

    .team {
        padding: 5em 0 3em;
    }

    figure.effect-apollo p {
        margin: 2em;
    }
}

@media (max-width: 900px) {
    #quote-carousel .carousel-control.left {
        left: -30px;
    }

    #quote-carousel .carousel-control.right {
        right: -36px !important;
    }

    .carousel-caption h2, .carousel-caption h3 {
        font-size: 2.2em;
        font-weight: 100;
        letter-spacing: 2px;
    }

    .login-form-rec {
        margin: 0 auto;
        width: 55%;
    }
}

@media (max-width: 800px) {
    ul.forms_right {
        float: none;
        margin-top: 0.1em;
    }

    .carousel-caption {
        min-height: 393px !important;
        padding-top: 4em;
    }

    .carousel-control {
        line-height: 22em;
    }

    .banner_inner_content_agile_w3l {
        min-height: 140px;
    }

    .banner_inner_content_agile_w3l p {
        padding-top: 2.7em;
    }

    .footer_top_agile_w3ls {
        padding: 3em 0;
    }

    .plan_grid {
        float: left;
        width: 50%;
    }

    .plan_grid:nth-child(2) {
        margin-bottom: 2em;
    }

    .contact-text {
        min-height: 290px;
    }

    .con-text {
        padding-top: 4em;
    }

    .stats {
        min-height: 370px;
        padding-top: 4em;
    }

    .bulb img {
        margin-top: 1em;
        width: 35%;
    }
}

@media (max-width: 768px) {
    #quote-carousel .carousel-control.right {
        right: -24px !important;
    }

    .blog_left {
        margin-top: 3em;
        width: 80%;
    }

    .banner_form_agileits form {
        margin: 1em auto 0;
        width: 80%;
        padding: 0.3em;
    }

    .carousel-caption {
        min-height: 393px !important;
        padding-top: 5em;
    }

    .agile-about {
        padding: 3em 0;
    }

    .emergency_cases_bt {
        background: rgba(0, 0, 0, 0.47);
        padding: 3em 0;
    }

    .services {
        padding: 3em 0;
    }

    .banner-bottom {
        padding: 3em 0;
    }

    .tesimonials_tp {
        padding: 3em 0;
    }

    .about {
        padding: 3em 0;
    }

    .team {
        padding: 3em 0 1em;
    }

    .gallery {
        padding: 3em 0;
    }

    .typo {
        padding: 3em 0;
    }

    .w3_wthree_agileits_icons.main-grid-border {
        padding: 3em 0;
    }

    .banner-bottom {
        padding: 3em 0;
    }
}

@media (max-width: 767px) {
    .content.white {
        padding: 0em 1em;
    }

    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }

    .navbar-nav {
        float: none;
        margin: 0;
        margin-left: 0em;
        background: #eee;
        margin-top: 1em;
        padding: 1em 1em;
    }

    .navbar-toggle {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .navbar-nav > li {
        float: none;
        margin: 0 4px;
    }

    .contact-in {
        padding-left: 0;
        padding: 0;
    }

    .main-content {
        padding: 3em 1em;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border: none !important;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border: none !important;
    }

    .multi-column-dropdown li a {
        display: block;
        clear: both;
        line-height: 1.428571429;
        color: #fff;
        white-space: normal;
    }

    .navbar-default a.navbar-brand h1 {
        margin-top: 0;
        padding-left: 0;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        padding: 10px 14px;
        text-align: center;
    }

    .navbar-nav > li {
        float: none;
        margin: 3px 0px;
    }

    .navbar-nav .open .dropdown-menu {
        text-align: center;
    }

    .navbar-nav .open .dropdown-menu {
        text-align: center;
        background: #c2d9ea;
        color: #111;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        color: #222;
    }

    ul.dropdown-menu.sub-menu {
        background: #9ac6e6 !important;
    }

    .test_img_info {
        margin-top: 2em;
    }

    #quote-carousel .carousel-indicators {
        left: 12%;
        top: auto;
    }
}

@media screen and (min-width: 737px) {
    .w3-flex {
        display: flex;
    }

    .ab1 {
        flex: 1;
    }
}

@media (max-width: 736px) {
    .login-form-rec {
        margin: 0 auto;
        width: 70%;
    }

    ul.blog_list li span {
        padding-right: 0.3em;
    }

    ul.blog_list li i {
        padding: 0 0.5em;
    }

    .header_left ul li {
        margin-right: 0.3em;
        font-size: 14px;
    }

    .test_img img {
        display: inline-block;
    }

    #quote-carousel .carousel-indicators {
        left: 50%;
        top: auto;
    }

    #quote-carousel .carousel-indicators li.active {
        width: 15px;
        height: 15px;
    }

    .carousel-indicators {
        bottom: 0%;
        left: 50%;
    }
}

@media (max-width: 667px) {
    .carousel-caption p {
        letter-spacing: 5px;
        font-size: 1em;
        margin: 0.5em 0 1em 0;
    }

    .carousel-caption h2, .carousel-caption h3 {
        font-size: 2.4em;
        font-weight: 100;
        letter-spacing: 2px;
    }

    .banner_inner_content_agile_w3l {
        min-height: 120px;
    }

    .banner_inner_content_agile_w3l p {
        padding-top: 2.3em;
    }

    h3.tittle {
        font-size: 2.5em;
    }

    .inner_breadcrumb {
        padding: 0 1em;
    }

    .blog_left {
        margin-top: 3em;
        width: 86%;
    }

    #quote-carousel .carousel-indicators {
        left: 50%;
        top: auto;
    }

    .header_left {
        float: none;
        margin: .3em 0 1em;
        text-align: center;
    }

    .header_right {
        float: none;
        text-align: center;
    }

    ul.forms_right li a {
        display: block;
    }
}

@media (max-width: 640px) {
    #quote-carousel .carousel-indicators {
        top: auto;
    }

    .blog_left {
        margin-top: 3em;
        width: 100%;
    }

    .inner_sec_info_agileits_w3 {
        margin-top: 2em;
    }

    .services-section-grid {
        float: left;
        width: 100%;
        margin-bottom: 1em;
    }

    .review_infon, .know_grid {
        margin-bottom: 1em;
        width: 100%;
        margin: 0% 0% 2% 0%;
        float: left;
    }
}

@media (max-width: 600px) {
    .carousel-caption h2, .carousel-caption h3 {
        font-size: 2.2em;
        font-weight: 100;
        letter-spacing: 2px;
    }

    .banner_form_agileits input[type="search"], .banner_form_agileits input[type="submit"] {
        width: 37%;
    }

    .banner_form_agileits input[type="submit"] {
        width: 26%;
    }

    .stats_left {
        float: left;
        width: 50%;
    }

    .stats_left:nth-child(3), .stats_left:nth-child(4) {
        margin-top: 2em;
    }

    .team_work {
        min-height: 230px;
    }

    .team_work h4 {
        font-size: 2em;
        width: 87%;
        padding-top: 1.9em;
    }

    .stats {
        min-height: 388px;
        padding-top: 4em;
        padding-bottom: 4em;
    }

    .header_left ul li {
        margin-right: 0.5em;
        font-size: 15px;
    }

    .header_left ul li {
        margin-right: 0.5em;
    }

    .header_left ul li i {
        padding-right: 0.5em;
    }

    .top_menu_w3layouts {
        padding: 0.5em 0.5em;
    }

    #quote-carousel .carousel-indicators {
        top: auto;
    }

    .banner_inner_content_agile_w3l p {
        padding-top: 2.8em;
        font-size: 1em;
    }

    .blog_img {
        padding-left: 0;
        float: left;
        width: 100%;
    }

    .con-text p, .con-text p a {
        font-size: 1.8em;
    }

    .con-text p a {
        font-size: 0.45em;
    }

    .con-text h6 {
        font-size: 1em;
        line-height: 1em;
        letter-spacing: 2px;
        margin-top: 1em;
    }

    .contact-text {
        min-height: 201px;
    }

    .con-text {
        padding-top: 3em;
    }

    .carousel-caption p {
        letter-spacing: 3px;
        font-size: 1em;
        margin: 0.5em 0 1em 0;
    }

    h3.tittle.main {
        margin: 0 auto;
        width: 100%;
    }

    .con-text {
        padding-top: 1.5em;
    }

    .left_form {
        float: left;
        width: 100%;
    }

    .right_form {
        float: left;
        width: 100%;
        margin-left: 0;
    }

    .contact-form textarea {
        resize: none;
        height: 115px;
    }

    .contact-form input[type="text"], .contact-form textarea {
        padding: 12px 15px;
    }

    .heading-agileinfo span {
        line-height: 1.5em;
    }

    .heading-agileinfo span:after {
        top: 113%;
    }
}

@media (max-width: 568px) {
    .login-form-rec {
        margin: 0 auto;
        width: 100%;
    }

    h3.tittle.three {
        font-size: 2.2em;
    }

    h3.tittle {
        font-size: 2.3em;
    }

    .inner_breadcrumb {
        padding: 0 0.2em;
    }

    .stories_in {
        margin: 0 auto;
        width: 98%;
    }

    .story_one_w3_agile:nth-child(2) {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        margin: 1.5em 0;
        padding: 1.5em 0;
    }

    .blog_info_wthree h5 a, .single-left1 h5 {
        font-size: 1em;
    }

    .header_left ul li {
        font-size: 14px;
    }

    .contact-form {
        position: relative;
        margin-top: 0;
    }
}

@media (max-width: 480px) {
    .carousel-caption {
        min-height: 358px !important;
        padding-top: 4em;
    }

    .banner_form_agileits input[type="search"], .banner_form_agileits input[type="submit"] {
        width: 33%;
    }

    .banner_form_agileits input[type="submit"] {
        width: 30%;
    }

    .grid_info {
        width: 100%;
        float: left;
    }

    .grid_info:nth-child(2) {
        margin: 5% 0% 5% 0%;
    }

    .team_work h4 {
        font-size: 1.7em;
        width: 100%;
        padding-top: 1.9em;
    }

    .team_work {
        min-height: 192px;
    }

    .text.live {
        width: 100%;
        text-align: center;
    }

    .text {
        width: 100%;
        float: left;
    }

    .icon {
        width: 100%;
        float: none;
        margin: 0 auto;
        text-align: center;
    }

    .bordergrid1, .bordergrid2, .bordergrid3, .bordergrid4, .bordergrid5, .bordergrid6, .bulb {
        position: static;
        width: 100%;
        margin: 20px 0px;
        text-align: center;
    }

    .stats_left p {
        font-size: 2em;
    }

    #quote-carousel .carousel-indicators {
        top: auto;
    }

    .author_grid_pos {
        position: absolute;
        top: -31%;
        left: 40%;
    }

    .banner_bottom_grid {
        margin-top: 1em;
    }

    .banner_bottom_grid img {
        width: 54%;
    }

    .banner_bottom_grid.help img {
        width: 100%;
        margin-bottom: 1em;
    }

    .blog_img:nth-child(3), .blog_img:nth-child(4) {
        margin: 0em 0;
    }

    .carousel-control {
        line-height: 19.5em;
    }

    h3.tittle.three {
        font-size: 2em;
    }

    .blog_img {
        margin-bottom: 1em !important;
    }

    .comments_agileits-grid-right h4 a {
        font-size: 0.9em;
    }

    .comments_agileits-grid-left {
        float: left;
        width: 21%;
    }

    .inner_sec_info_agileits_w3 {
        margin-top: 0em;
    }

    .heading-agileinfo {
        font-size: 32px;
        margin-bottom: 1em;
    }

    .emergency_cases_top {
        padding: 2em;
    }

    .carousel-caption h6 {
        font-size: 14px;
        line-height: 1.5em;
        width: 91%;
    }
}

@media (max-width: 440px) {
    .carousel-caption h2, .carousel-caption h3 {
        font-size: 1.8em;
        font-weight: 100;
        letter-spacing: 2px;
    }

    .banner_form_agileits input[type="search"], .banner_form_agileits input[type="submit"] {
        width: 28%;
    }

    .banner_form_agileits input[type="submit"] {
        width: 34%;
    }

    h3.tittle {
        font-size: 2em;
    }

    #quote-carousel .carousel-indicators {
        top: auto;
    }

    .services-breadcrumb_w3ls ul li span {
        padding: 0 1em;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        padding: 8px 14px;
        text-align: center;
    }

    .banner_inner_content_agile_w3l {
        min-height: 110px;
    }

    .banner_inner_content_agile_w3l p {
        padding-top: 2.5em;
        font-size: 1em;
    }

    .plan_grid {
        float: left;
        width: 100%;
        margin-bottom: 1em;
    }

    .plan_grid:nth-child(2) {
        margin-bottom: 1em;
    }

    .carousel-caption {
        min-height: 320px !important;
        padding-top: 3em;
    }

    .stats {
        min-height: 387px;
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .contact-text {
        min-height: 172px;
    }

    .author_grid_pos {
        position: absolute;
        top: -31%;
        left: 37%;
    }

    .con-text p a {
        font-size: 0.55em;
    }

    .teamgrid1 {
        width: 100%;
        margin-bottom: 2em;
    }
}

@media (max-width: 414px) {
    .con-text p a {
        font-size: 0.55em;
    }

    .stats_left {
        float: left;
        width: 50%;
        padding: 0;
    }

    .map_w3layouts_agile iframe {
        min-height: 250px;
        padding: 1em;
    }

    .panel-title {
        font-size: 0.9em;
    }

    .icon_info h5 {
        font-size: 1.2em;
    }

    .features {
        padding: 2em 0 2em 0;
    }

    .inner_sec_info_agileits_w3 {
        margin-top: 0em;
    }

    .carousel-indicators {
        bottom: -9%;
        left: 50%;
    }

    h4.agileinfo-head {
        margin: 0 0 0.7em 0;
    }

    .emergency_cases_w3ls h5 {
        font-size: 30px;
    }

    #quote-carousel {
        padding: 20px 20px 20px 20px;
    }
}

@media (max-width: 384px) {
    .carousel-caption h2, .carousel-caption h3 {
        font-size: 1.8em;
        font-weight: 100;
        letter-spacing: 1px;
    }

    .team_work h4 {
        font-size: 1.5em;
        width: 100%;
        padding-top: 1.9em;
    }

    .team_work {
        min-height: 166px;
    }

    .banner_bottom_left h4 {
        font-size: 1.4em;
    }

    ul.forms_right li a {
        padding: 0.5em 1em;
    }

    .top_menu_w3layouts {
        padding: 0.5em 0em;
    }

    .emergency_cases_top {
        padding: 1em;
    }

    .emergency_cases_w3ls h6 {
        font-size: 18px;
    }

    .carousel-caption p {
        margin: 0.5em 0 0.5em 0;
    }
}

@media (max-width: 375px) {
    .banner_form_agileits input[type="search"], .banner_form_agileits input[type="submit"], .banner_form_agileits select#country12 {
        font-size: 0.8em;
        padding: 0.7em 0.7em;
    }

    .carousel-caption {
        min-height: 300px !important;
        padding-top: 3em;
    }

    .carousel-control {
        line-height: 18.5em;
    }

    .test_img_info {
        margin-top: 2em;
        padding: 0;
    }

    .footer_top_agile_w3ls {
        padding: 2em 0;
    }

    .blog_img {
        padding: 0;
    }

    .blog_left {
        margin-top: 2em;
        width: 100%;
    }

    ul.pagination {
        margin: 1em 0 0 0;
    }

    .author_grid_pos {
        position: absolute;
        top: -27%;
        left: 35%;
    }
}

@media (max-width: 320px) {
    .carousel-caption h2, .carousel-caption h3 {
        font-size: 1.4em;
        font-weight: 100;
        letter-spacing: 1px;
    }

    .carousel-caption p {
        letter-spacing: 1px;
        font-size: 0.9em;
        margin: 0.3em 0 0em 0;
    }

    .carousel-caption {
        min-height: 283px !important;
        padding-top: 1em;
    }

    .navbar-default a.navbar-brand h1 {
        font-size: 30px;
    }

    .carousel-control {
        line-height: 16.5em;
    }

    .carousel-indicators {
        bottom: -13%;
        left: 49%;
    }

    .grid_info {
        padding: 1em 1em;
    }

    .stats_left p {
        font-size: 1.8em;
    }

    .stats_left h4 {
        font-size: 0.9em;
    }

    .stats_left i {
        font-size: 1.5em;
    }

    .stats {
        min-height: 351px;
        padding-top: 2em;
        padding-bottom: 1em;
    }

    h3.tittle {
        font-size: 1.8em;
    }

    .team_work h4 {
        font-size: 1.2em;
        width: 100%;
        padding-top: 1.9em;
    }

    .team_work {
        min-height: 131px;
    }

    h3.tittle.three {
        font-size: 1.6em;
    }

    .banner_inner_content_agile_w3l p {
        letter-spacing: 3px;
    }

    .heading-agileinfo {
        font-size: 30px;
    }

    .heading-agileinfo span {
        letter-spacing: 1px;
    }

    .agile-about {
        padding: 2.5em 0;
    }

    .ab1 {
        padding: 1.5em;
    }

    .emergency_cases_w3ls_left {
        padding-right: 1em;
    }

    .emergency_cases_w3ls h4 {
        font-size: 24px;
    }

    .emergency_cases_w3ls h5 {
        font-size: 26px;
        letter-spacing: 2px;
    }

    .emergency_cases_w3ls h6 {
        font-size: 15px;
    }

    .grid1 {
        padding: 25px 20px;
    }

    .services {
        padding: 2.5em 0;
    }

    .banner-bottom {
        padding: 2.5em 0;
    }

    .about {
        padding: 2.5em 0;
    }

    .team {
        padding: 2.5em 0 0.5em;
    }

    .panel-body {
        padding: 1.5em 1em;
    }

    .gallery {
        padding: 2.5em 0px;
    }

    .typo {
        padding: 2.5em 0;
    }

    .w3_wthree_agileits_icons.main-grid-border {
        padding: 2.5em 0;
    }

    .banner-bottom {
        padding: 2.5em 0;
    }

    .header_left {
        margin: .3em 0 0.5em;
    }
}

.agileits-about-grid4 {
    /* border: 1px solid #000; */
    background: #34a7ff;
}


/*--//new--*/

.single-right-left h3 {
    text-transform: capitalize;
    font-size: 23px;
    color: #3c43a4;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 600;
}

single-right-left p {
    color: #000;
    font-size: 20px;
    margin: .5em 0 1em;
}

ul.stars i {
    font-size: 9px;
}

ul.stars li {
    list-style: none;
    display: inline-block;
}

ul.stars li a {
    color: #333;
}

ul.stars li a:hover {
    color: #fb383b;
}

.product-toys-info {
    border: 1px solid #ccc;
    padding: 10px;
}

.single-right-left h3 {
    text-transform: capitalize;
    font-size: 23px;
    color: #3c43a4;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 600;
}

.single-right-left p {
    color: #000;
    font-size: 20px;
    margin: .5em 0 1em;
}

.single-right-left del {
    color: #555;
    margin-left: 10px;
    font-weight: 300;
    font-size: 0.8em;
}

.description {
    margin: 1.5em 0;
}

.description h5 {
    color: #545454;
    font-size: 0.9em;
    margin-bottom: 12px;
    letter-spacing: 1px;
}

.description p {
    color: #545454;
    line-height: 1.8em;
    margin: 0.5em 0 0;
    font-size: 0.9em;
}

.occasional {
    margin: 1.5em 0;
}

.color-quality-right h5, .occasional h5 {
    color: #000;
    font-size: 16px;
    margin: 0 0 12px;
    letter-spacing: 1px;
}

.color-quality-right select {
    padding: 5px 21px;
}

.colr {
    width: 33.333%;
    float: left;
}

.description input[type="text"] {
    padding: 8px 8px;
    color: #ccc;
    font-size: 13px;
    width: 100%;
    outline: none;
    letter-spacing: 1px;
}

.description input[type="submit"] {
    color: #fff;
    font-size: 16px;
    background: #000000;
    border: none;
    outline: none;
    margin-top: 12px;
    padding: 7px 34px 9px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.description input[type="submit"]:hover {
    background: #26bb48;
}

.occasion-cart a {
    padding: 8px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
}

.product_price h4 a {
    color: #959596;
    font-size: 13px;
    font-family: 'Inconsolata', monospace;
}

.bootstrap-tab {
    margin: 5em 0 0;
}

.bootstrap-tab-text p {
    font-size: 14px;
    color: #999;
    line-height: 1.8em;
}

.bootstrap-tab-text h5, .add-review h4 {
    text-transform: uppercase;
    font-size: 1em;
    color: #212121;
    margin: 2em 0 1em 0;
    font-weight: 600;
    letter-spacing: 1px;
}

.bootstrap-tab-text p span {
    display: block;
    margin: 2em 0 0;
}

.bootstrap-tab-text-grid-left {
    float: left;
    width: 14%;
}

.bootstrap-tab-text-grid-right {
    float: right;
    width: 83%;
}

.bootstrap-tab-text-grid-right ul li {
    display: inline-block;
}

.bootstrap-tab-text-grid-right ul li:nth-child(2) {
    float: right;
}

.bootstrap-tab-text-grid-right ul li a {
    font-size: 1em;
    color: #26bb48;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}

.bootstrap-tab-text-grid-right ul li a:hover {
    color: #212121;
}

.bootstrap-tab-text-grid-right ul li a i {
    left: -1em;
}

.bootstrap-tab-text-grids {
    margin: 3em 0 0 0em;
}

.bootstrap-tab-text-grid-right p {
    margin: 2em 0 0;
    color: #545454;
    font-size: 0.9em;
    line-height: 2 sem;
}

.bootstrap-tab-text-grid:nth-child(2) {
    margin: 3em 0 0;
}

.add-review form {
    margin: 2em 0 0;
}

.add-review input[type="text"], .add-review input[type="email"], .add-review textarea {
    outline: none;
    padding: 10px;
    border: 1px solid #D2D2D2;
    width: 100%;
    font-size: 15px;
    color: #888;
}

.add-review textarea {
    width: 100% !important;
    min-height: 120px;
    margin: 1em 0;
    resize: none;
}

.add-review input[type="text"]:nth-child(3) {
    width: 100%;
    margin: 1em 0;
}

.add-review input[type="submit"] {
    outline: none;
    padding: 14px 0;
    background: #fb383b;
    border: none;
    width: 20%;
    font-size: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
}

.add-review input[type="submit"]:hover {
    background: #000;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #fb383b;
    color: #fff;
}

.product-men.single {
    margin: 0;
}

.w3_agile_latest_arrivals {
    margin: 4em auto 0;
}

.responsive_tabs_agileits {
    margin-top: 3em;
}

.shoe.single-item {
    float: right;
}

.single_page h6 {
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 1px;
    color: #4e4c4c;
    margin-bottom: 1em;
}

.single_page p {
    line-height: 2em;
    color: #888;
    font-size: 14px;
}

p.para {
    margin-top: 1em;
}

span.item_price {
    font-size: 19px;
    color: #212020;
    font-weight: 600;
}

input.button.ptoys-cart {
    font-size: 13px;
    color: #fff;
    background: #1d1d1d;
    text-decoration: none;
    position: relative;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    padding: .7em 1em;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;
}

.responsive_tabs {
    margin-top: 2em;
}

.new_arrivals h3 {
    font-size: 1.4em;
    color: #080808;
    font-size: 1.4em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 3em 0 1em 0;
}

.shoe.single-item.single_page_b {
    float: left;
    margin-bottom: 2em;
    width: 100%;
}

/*-- /Responsive --*/
@media (max-width: 1280px) {
    .item-info-product h4 a {
        font-size: 13px;
    }

    .shoe.single-item {
        float: right;
        width: 15%;
    }

    .inner-men-cart-pro .link-product-add-cart {
        width: 70%;
        top: 0px;
        left: 16%;
        margin: 0 auto;
        font-size: 0.9em;
        height: 37px;
    }

    .product-new-top {
        right: 0;
        top: 0;
        width: 65px;
        font-size: 13px;
        height: 29px;
        line-height: 2.3;
    }

    .img-deals {
        padding-left: 0;
    }

    #staplesbmincart {
        left: 52%;
        top: 16.9%;
        width: 420px;
    }

    .grid_meta {
        width: 70%;
    }

    button.toys-cart {
        width: 28%;
    }

}

@media (max-width: 991px) {
    .single-right-left.simpleCart_shelfItem {
        margin-top: 2em;
    }

    .single-right-left {
        width: 80%;
    }

    .responsive_tabs {
        margin-top: 3em;
        width: 100%;
    }

    button.toys-cart {
        padding: 9px 0px;
        width: 17%;
    }
}

@media (max-width: 800px) {
    .single_page h6 {
        font-size: 1.2em;
        margin: 1em 0;
    }

    .bootstrap-tab-text-grid-right p {
        margin: 1em 0 0;
    }

    .product-toy-info {
        padding: 15px;
        width: 47%;
        margin: 0.5em;
        float: left;
    }

    #staplesbmincart {
        left: 52%;
        top: 16.9%;
        width: 343px;
    }

    .add-review input[type="submit"] {
        padding: 12px 0
        font-size: .9em;
    }

}

@media (max-width: 767px) {
    .add-review input[type="email"] {
        margin-top: 10px;
    }

    .resp-tabs-container {
        padding: 1.5em;
    }
}

@media (max-width: 600px) {
    .colr {
        width: 47.333%;
        float: left;
    }

    .new_arrivals h3 {
        font-size: 1.2em;
    }

    .imagezoom-cursor, .imagezoom-view {
        display: none;
    }

    .single_page h6 {
        font-size: 1em;
    }
}

@media (max-width: 568px) {
    button.toys-cart {
        width: 38%;
    }
}

@media (max-width: 440px) {
    button.toys-cart {
        width: 46%;
        font-size: 1em;
    }

    .add-review input[type="submit"] {
        width: 25%;
        padding: 10px 0px;
    }
}

@media (max-width: 384px) {
    .add-review input[type="submit"] {
        width: 30%;
    }
}


ul.resp-tabs-list,
p {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
    display: inline-block;
    padding: 12px 20px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    color: #2A2B2F;
    width: 25%;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #67be10;
}

.resp-tabs-container {
    padding: 2em;
    clear: left;
    border: 1px solid #ddd;
}

ul.resp-tabs-list li i {
    display: block;
    font-size: 2em;
    color: #000;
    margin-bottom: 0.3em;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-tab-active {
    border-bottom: 4px solid #ffcb2d;
    margin-bottom: -1px !important;
    position: relative;
    background: #ffcb2d;
}

.resp-tab-active:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #ffcb2d;
    border-left: 10px solid rgba(69, 42, 21, 0);
    border-right: 10px solid rgba(199, 57, 57, 0);
    left: 45%;
    top: 103%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.resp-tab-active {
    background-color: #ffcb2d;
}

.resp-content-active,
.resp-accordion-active {
    display: block;
}

h2.resp-accordion {
    font-size: 17px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 16px 15px;
    letter-spacing: 1px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #fff !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 68%;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    border: 1px solid #c1c1c1;
    border-right: none;
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #1c2020;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #ffffff;
}

/*-----------Accordion styles-----------*/

h2.resp-tab-active {
    background: #ffffff !important;
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1 !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/

@media (max-width: 991px) {
    .resp-tabs-list li {
        display: inline-block;
        width: 100%;
        font-size: 1em;
    }
}

@media only screen and (max-width: 768px) {

    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }

    h2.resp-tab-active {
        background: #fc636b !important;
    }
}

@media only screen and (max-width: 568px) {
    .resp-arrow {
        margin-top: 8px;
        border-top: 9px solid #1c2020;
    }

    h2.resp-tab-active span.resp-arrow {
        border-bottom: 9px solid #e54945;
    }
}

@media only screen and (max-width: 384px) {
    .resp-arrow {
        margin-top: 7px;
        border-top: 8px solid #1c2020;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }

    h2.resp-tab-active span.resp-arrow {
        border-bottom: 8px solid #e54945;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }
}


.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
    outline: none;
}

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex-direction-nav {
    display: none;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
    width: 100%;
    display: block;
}

.flexslider .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .flexslider .slides {
    display: block;
}

* html .flexslider .slides {
    height: 1%;
}

.no-js .flexslider .slides > li:first-child {
    display: block;
}

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
    margin: 0 0 10px;
    background: #ffffff;
    border: 4px solid #ffffff;
    position: relative;
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}

.flexslider .slides {
    zoom: 1;
}

.flexslider .slides img {
    height: auto;
}

.flex-viewport {
    max-height: 450px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    border: 1px solid #D1CFCF;

}

.loading .flex-viewport {
    max-height: 300px;
}

.carousel li {
    margin-right: 5px;
}

.flex-direction-nav {
    *height: 0;
}

.flex-direction-nav .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default;
}

.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: 0.8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000;
}

.flex-pauseplay a:before {
    font-family: "flexslider-icon";
    font-size: 20px;
    display: inline-block;
    content: '\f004';
}

.flex-pauseplay a:hover {
    opacity: 1;
}

.flex-pauseplay a .flex-play:before {
    content: '\f003';
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}

.flex-control-thumbs li {
    width: 32.2%;
    float: left;
    margin: 0 1% 0 0;
}

.flex-control-thumbs li:nth-child(4) {
    margin: 0;
}

.flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    border: 1px solid #D1CFCF;
}

.flex-control-thumbs img:hover {
    opacity: 1;
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 10px;
    }

    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 10px;
    }
}

.thumb-image img {
    width: 100%;
}

/*-- //Responsive --*/
